html, 
body, 
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
}

.box {
  width: 150px;
  height: 60px;
  margin: 5px;
}

.red {
  order: 3;
  background: #f00;
}

.green {
  order: 2;
  background: #0f0;
}

.blue {
  order: 0;
  background: #00f;
}